<%- include("partials/header.ejs") %>

    <div class="text-center">
        <div class="row vh-100">
            <div class="col-md-6 col-sm-12 Frame-427319727">
                <div class="container h-100 d-flex justify-content-center align-items-center position-relative">
                    <div class="Group-48096339 position-absolute">
                        <div class="Ellipse-773"></div>
                        <div class="Ellipse-774"></div>
                        <div class="Ellipse-775"></div>
                    </div>

                    <h1
                        class="bg-white p-5 d-flex justify-content-center align-items-center position-relative LOGO">
                        <span style="font-size: 4vw;">LOGO</span>
                    </h1>
                </div>
            </div>
            <form action="/adminlogin" method="POST" class="col-md-5 col-sm-12 w-50 vh-100 d-flex justify-content-center align-items-center">
                <div class="container w-75">
                    <h1 class="form-heading poppins-600">Admin Login</h1>
                    <div class="container">
            
                        <input type="text" placeholder="User ID" name="userId" class="form-control mb-2">
                        <input type="text" placeholder="Password" name="password" class="form-control mb-2">
                        <button type="submit" class="btn btn-primary w-100 poppins-600">Login</button>
                    </div>
                </div>
            </form>
                     
        </div>
    </div>